
        :root {
            --main-color: rgb(21, 21, 124);
            --black: #444;
            --light-color: #777;
            --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
            --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
            --border: .2rem solid var(--main-color);
        }


        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }

        header {
            padding: 20px;
            background: #ffffff;
            color: white;
            font-size: 30px;
            text-align: left;
        }

        body {
            margin: 0;
            overflow: hidden;
            background-color: #eae7dc;
            background-image: url(bg2.jpeg);
            background-position: cover;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            margin-top: 0%;
        }


.loading-wrapper{
    display: inline-block;
}

    .waivy {
   background-color: transparent;
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
  left:30%;
}
.waivy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  color: rgb(20, 20, 88);
  /* text-transform: uppercase; */
  animation: waivy .9s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waivy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

img{
    /* display: flex; */
    width:50vh;
    height:50vh;
}



        .sm-wrapper {
            margin-top: 100px;
            color: #000000;
        }

        .sidemenu {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #0b0804;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;

        }

        .sidemenu a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 45px;
            color: #ffffff;
            display: block;
            letter-spacing: 5px;
            margin-bottom: 20px;
            transition: 0.3s;
        }

        .sidemenu .close {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 60px;
            margin-left: 50px;
        }

        .sm-wrapper a:after {
            z-index: -1;
            position: absolute;
            left: 0%;
            width: 0;
            height: 50px;
            background: rgb(13, 13, 100);
            content: '';
            transition: width 0.35s ease-in-out;
        }

        .sm-wrapper a:hover:after {
            width: 10%;
        }

        .sm-wrapper a:hover {
            padding-left: 64px;
            transition: 0.35s ease-in-out;

        }

        #pg-content {
            transition: margin-left 0.5s;
            padding: 16px;
            padding-top: 2px;
            background-color: rgb(21, 21, 124);
            width: 2000px;
            height: 80px;
        }



        section {
            padding: 2rem 9%;
            margin-top: 50px;
            margin-left: 200px;
        }



        section:nth-child(even) {
            background: #f5f5f5;
            margin-top: 50px;
            margin-left: 200px;
        }

        .wrapper .display #time {
            align-items: center;
        }

        .wrapper .display #time {
            line-height: 85px;
            color: rgb(41, 36, 140);
            font-size: 50px;
            font-weight: 600;
            letter-spacing: 1px;



        }

        .wrapper span {
            height: 00%;
            width: 100%;
            background: inherit;
            border-radius: 10px;

        }

        .wrapper span:first-child {
            filter: blur(10px);
        }

        .wrapper span:last-child {
            filter: blur(20px);

        }

        .wrapper {
            height: 100px;
            width: 360px;
            cursor: default;
            margin-left: 75%;
            border-radius: 10px;

            animation: animate 1.5s linear infinite;

        }

        @keyframes animate {
            100% {
                filter: hue-rotate(360deg);
            }
        }

        .wrapper .display,
        .wrapper span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .wrapper .display {

            z-index: 999;

            height: 85px;
            width: 345px;
            border-radius: 6px;
            text-align: center;
        }

        @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

        
        h2,
        h3,
        h4,
        h5,
        p,
        a,
        span {
            font-family: 'Open Sans', sans-serif;
        }

        .transition {
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
        }
        h1{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 50px;
        }

        .longTransition {
            transition: all .2s;
            -webkit-transition: all .2s;
        }

        .rel-wrapper {
            position: relative;
        }

        .block-element {
            display: block;
        }

        .no-underline {
            text-decoration: none;
        }

        .no-margin {
            margin: 0;
        }

        .inline-element {
            display: inline-block;
        }

        .text-align-center {
            text-align: center;
        }

        .small-font-size {
            font-size: .85rem;
        }

        .normal-font-size {
            font-size: 1rem;
        }

        .medium-font-size {
            font-size: 1.25rem;
        }

        .medium-font-size2 {
            font-size: 1.5rem;
        }

        .large-font-size {
            font-size: 1.8rem;
        }

        .large-font-size2 {
            font-size: 2rem;
        }

        .extra-large-font-size {
            font-size: 2.5rem;
        }

        .extra-large-font-size2 {
            font-size: 3rem;
        }

        .thin-font-weight {
            font-weight: 100;
        }

        .light-font-weight {
            font-weight: 300;
        }

        .normal-font-weight {
            font-weight: 400;
        }

        .medium-font-weight {
            font-weight: 500;
        }

        .semibold-font-weight{
            font-weight: 600;
        }

        .bold-font-weight {
            font-weight: 700;
        }

        .ultrabold-font-weight {
            font-weight: 900;
        }

        .vertical-center-align {
            position: absolute;
            top: 50%;
            -moz-transform: translateY(-50%) !important;
            -ms-transform: translateY(-50%) !important;
            -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
        }

        body {
            overflow: hidden;
        }

        .loading-wrapper {
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
        }

        .loading-text {
            color: #777;
            width: 100%;
            font-size: 4rem;
            animation-delay: 1.5s;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-name: getGlow;
        }

        .loading-text span {

            padding: 0 .4%;
            transform: translateX(-2rem);
            -webkit-transform: translateX(-2rem);
            opacity: 0;
            animation-delay: .5s;
            animation-duration: .3s;
            animation-fill-mode: forwards;
            animation-name: loadingAnim;
        }

        .loading-text span:nth-child(1) {
            animation-delay: .5s;
        }

        .loading-text span:nth-child(2) {
            animation-delay: .7s;
        }

        .loading-text span:nth-child(3) {
            animation-delay: 1.1s;
        }

        .loading-text span:nth-child(4) {
            animation-delay: 1.5s;
        }

        .loading-text span:nth-child(5) {
            animation-delay: 1.9s;
        }

        .loading-text span:nth-child(6) {
            animation-delay: 2.3s;
        }

        .loading-text span:nth-child(7) {
            animation-delay: 2.8s;
        }

        @keyframes getGlow {
            0% {
                text-shadow: 0 0 1em transparent;
            }

            100% {
                text-shadow: 0 0 1em #ededed;
            }
        }

        @keyframes loadingAnim {
            0% {
                transform: translateX(-2rem);
                -webkit-transform: translateX(-2rem);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                -webkit-transform: translateX(0);
                opacity: 1;
            }
        }
        #Line-f{
        font-size:50vh;
        font-family: 'Dancing Script', cursive;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Kdam Thmor Pro', sans-serif;
        margin-top:3%;
        margin-left: 45%;
        text-transform: uppercase;
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        /* background-size: auto auto; */
        /* background-clip: border-box; */
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        
        }
        
        @keyframes textclip {
          to {
            background-position: 200% center;
          }
        }


        .para h1{
            color: #231557;
            font-size:xx-large;
        }

        .Last-l{
                font-family: 'Open Sans', sans-serif;
                font-weight: 60;
                font-size: 30px;
                margin-top: 2%;
                color:grey;
                margin-left: 35%;
            
        }

        .btn{
            padding:10px 40px 10px 40px;
            border-radius: 20px;
            margin-left:45%;
            margin-top: 2%;
            font-size:x-large;
            background-color: rgb(16, 16, 105);
            color:white;
            font-style: bold;
        }
